$color: #00D1AB;
.home_page {
  header {
    background: #fff;
    font-size: 1.8rem;
    box-shadow: 0 -24px 50px 15px #999;
  }
  main {
    overflow: auto;
  }
  footer {
    box-shadow: 0 40px 50px 30px #999;
  }
}