.swiper-container{
  height:10rem;
  padding-top:.6rem;
  img{
    height:100%;
    width:100%;
  }
}

.iconlist{
  height:20rem;
  padding:1rem 0;
  a{
    height:7rem;
    width:10rem;
    img{
      width:80%;
    }
  }
}