.padding-right{
    padding-right:20px;
}
.padding-top-50{
    padding-top:50px;
}
.padding-50-auto{
    padding:50px auto;
}

.login_page{
    height:100%;
}
.show_page{
    height:100%;
    background:url("./../static/img/login.png") no-repeat;
    background-size:100% 100%;
    background-position:0 0;
}
.demo-ruleForm{
    padding:50vh 10vw 0;
}
.demo-submit{
    padding-top:7vh;
}
.demo-user input,.demo-pass input{
    border:transparent;
    border-bottom:1px solid #ddd;
    /*font-size:1.8rem;*/
}
.demo-pass{
    position:relative;
}
.demo-pass .yzm{
    position:absolute;
    right:0;
    bottom:auto;
    top:auto;
    color:#00D1AB;
}

.demo-submit button{
    height:4rem;
    width:100%;
    border-radius:2rem;
    background:#00D1AB;
    border:0;
}
.blue{color:#00D1AB;}
.el-message-box{
    width:80vw;
}
.el-message-box__content{
    padding-bottom:0;
}
.text-center{
    text-align: center;
}
.zhline{
    padding-top:2rem;
}
.assine{
    border-bottom:1px solid #999;
    letter-spacing: 2px;
}
.agreement{
    position:absolute;
    bottom:1rem;
    left:0;
    width:100%;
}
.welcome{
    height:100%;
    width:100%;
    background:#00D1AB url("./../static/img/starting.jpg") no-repeat;
    background-size:100% 100%;
    background-position:0 0 ;
}